@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  color: #1E1F36;
  background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

h1,
h2,
hr,
p {
  margin: 0;
}

hr {
  margin-top: 16px;
}

.modal {
  margin: 148px 24px 40px;
  padding: 0px 24px 48px;
  background: #fff;
  border-radius: 23px;
}

.title {
  font-size: 32px;
  text-align: center;
}

.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question {
  margin-top: 19px;
  font-weight: 400;
  font-size: 13px;
  color: #4B4C5F;
}

.arrow {
  transform: rotate(0deg);
  transition: transform 500ms ease-out;
}

.answer {
  display: none;
  margin-top: 12px;
  font-size: 12px;
  color: #787887;
}

.divider {
  height: 1px;
  background: #E8E8EA;
}

.illustration {
  margin-top: -108px;
  position: relative;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.visible .question {
  font-weight: 700;
  color: inherit;
}

.visible .arrow {
  transform: rotate(180deg);
}

.visible .answer {
  display: block;
}